 <%= erb :_errors %>

<form method="POST" action="/questions/<%=@question.id %>">
  <label>Title:</label> <br>
  <input name="question[title]" type="text" value="<%= @question.title %>" > <br><br>

  <label>Body:</label><br>
  <textarea rows = "5" cols="50" name="question[body]"><%= @question.body %></textarea><br>
  <input type="submit" value="Submit">
</form>


