 <%= erb :_errors %>

<% if @answer %>
<form method="post" action="/answers/<%= @answer.id%>/comments">
<% elsif @question %>
<form method="post" action="/questions/<%= @question.id%>/comments">
<% end %>
  <label>Comment:</label><br>
  <textarea  name="comment[body]"></textarea><br>
  <input type="submit" value="Submit">
</form>


