.home{
  background-color: #d1d1e0;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: gray;
}
th {
  text-align: left;
}

.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.home-question-title{

  margin-right: 100px;
}
.score-container {
  float: left;
  margin-right: 5px;
}

.score-container p {
  margin: 5px 0;
}

.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    background-color: #f1f1f1;
}

/*.pipe-separate {
  float: left;
}*/
.pipe-separate{
  display: inline;
}

.pipe-separate a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.pipe-separate a.active {
    background-color: #4CAF50;
    color: white;
}

.pipe-separate a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.question{

  width: 90%;
}

 li {
 list-style-type: none;
 }
.votable-container{
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    border-style: solid;
}

.index-container{
    margin: auto;
    width: 40%;
    padding: 1px;
    text-align: center;
    border-style: solid;
    border-bottom-style: solid;
    box-shadow: 10px 10px 5px #888888;
    background-color: white;
}

.score-container{
    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
}
.answer-question{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.ask-question{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.dog-photo{
    display: block;
    border: 1px solid #ddd;
    border-color: black;
    margin: auto;
    width:25%;
    border-radius: 20px;
    padding: 5px;
}

.ask-question {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.signup{
  display: block;
  width: 20%;
  border-style: solid;
  padding: 20px;
}

h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 35px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }
/*li a {
    display: block;
    width: 60px;
}*/
