<h2>Create your account!</h2>

<form class="signup" action="/users" method="POST">
  <label for="email">&nbsp; &nbsp; &nbsp; &nbsp;Email:</label>
  <input type="text" name="user[email]"><br>
  <label for="username">Username:</label>
  <input type="text" name="user[username]"><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" >
  <br>
  <input type="submit" value="SIGN UP!">
</form>
