<form method="post" action="/questions/<%=@question.id %>/answers" class="new-answer-form">
  <label>Answer:</label><br>
  <textarea  name="answer[body]"></textarea><br>
  <input type="submit" value="Submit">
</form>


