<div class = "new-answer">

<form method="post" action="/questions/<%=@question.id %>/answers" class="new-answer-form">
  <label>Answer:</label><br>
  <textarea  name="answer[body]" cols = "40" rows = "5"></textarea><br>
  <input type="submit" value="Submit">
</form>

</div>
